body {
	position: 	absolute;
	height:		100%;
	width:		100%;
	margin: 	0px 0px 0px 0px;
	background-color: #dbeadc;
	font-family:'Helvetica Neue',sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#top {
	display: block;
	position: relative;
	top: 0;
	height: 30px;
	background-color: black;
	opacity: 0.7;
	padding-left: 10px;
	padding-right: 10px;
	
	text-align: right;
	color: white;
}

#admin-button {
	border: thin white solid;
	float: right;
	padding: 5px;
}

#add-tree-button {
	float: left;
}

header{
	display: block;
	position: relative;
	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;
    height:	150px;
    width:	95%;
	background-image: url('image/treebanner.jpg');
}

#button-bar {
	display: block;
	position: relative;
	width: 95%;
	margin: 0 auto 0 auto;
	border: 0px solid #DEDCDD;
	background-color: #DEDCDD;
}

.nav-button {
  padding: 10px;
  margin:	10px;
  background: #08C;
  border: thin solid #08C;
  border-radius: 5px;
  width: 30%;
  opacity: 0.8;

  /* Font styles */
  color: white;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 8px;
}

.nav-button:hover {
	text-transform: uppercase;	
	opacity: 1;
}

#main {
	display: table;
    width:	95%;
    min-width: 600px;
    max-height: 500px;
	border: thin solid #DEDCDD;
	background-color: white;	
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}

#content {
	min-height: 500px;
	padding: 20px 40px 0 40px;
}

.main-search-box{
	margin: 20px auto 0 auto;
}

input.main-search {
	display: inline-block;
	width: 600px;
	padding: 5px;
	border: 2px solid #F1B720;
	border-radius: 1px;
	color: #333;
	height: 20px;
	margin: 10px;
}

button.main-search {
	padding: 10px;
  	background: #08B;
  	border: 3px solid #5CC9ED;
  	border-radius: 4px;
  	margin: 10px;

  	/* Font styles */
  	color: white;
  	text-decoration: none;
}

.main-search-fields {
	margin-left: 280px;
}

a.main-search {
	margin-left: 800px;
}

.main-search table {
	margin-left: 50px;
}

.disabled {
	background-color: #DEDEDE;
	border: thin solid black;
	padding: 5px;
	width: 150px;
	opactiy: 0.5;
}

.enabled {
	border: 2px solid #F1B720;
	padding: 5px;
	width: 150px;
}

.advanced-search {
	margin: 5px;
	width: 150px;
}

.result{
	border-bottom: thin black dashed;
	padding: 20px;
	width: 80%;
	height: 50px;
	margin-left: 5%;
}

.treeinfo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 900px;	
}

.map {
	float: left;
	margin-left: 5%;
}

.treedata {
	padding: 20px;
}

.info-field {
	font-weight: bold;
	height: 20px;
}
.add-popup {
	z-index: 99999;
	background-color: white;
	border: thin solid black;
	border-radius: 3px;
	padding: 20px;
	font-size: 15px;
}

.add-popup input{
	border: thin black solid;
	width: 100%;
	height: 20px;
}

.add-popup input:focus {
	background-color: #F0FAF5;
}

.results-map {
	float: left;
	margin: 30px 5px;
}

.gwt-TabBarItem {
	width: 20px;
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

.gwt-TabBarItem.gwt-TabBarItem-selected {
	color: black;
	text-decoration: none;
}

.results-table {
	text-align: center;
	margin-top: 10px;
}

.results-table tr{
	height: 35px;
}

.results-header {
	background-color: #A8DEE1;
	font-weight: bold;
	height: 15px;
}

.results-row-alt {
	background-color: #EEEEEE;	
}

