body {
	position: 	absolute;
	height:		100%;
	width:		100%;
	margin: 	0px 0px 0px 0px;
	background-color: #dbeadc;
	font-family:'Helvetica Neue',sans-serif;
}

header{
	display: block;
	position: relative;
	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;
    height:	150px;
    width:	95%;
	background-image: url('image/treebanner.jpg');
}

#button-bar {
	display: block;
	position: relative;
	width: 95%;
	margin: 0 auto 0 auto;
	border: 0px solid #DEDCDD;
	background-color: #DEDCDD;
}

.nav-button {
  padding: 10px;
  margin:	10px;
  background: #08C;
  border: thin solid #08C;
  width: 30%;
  opacity: 0.8;

  /* Font styles */
  color: white;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 8px;
}

.nav-button:hover {
	text-transform: uppercase;	
	opacity: 1;
}

#main {
	display: table;
    width:	95%;
    min-width: 600px;
    max-height: 500px;
	border: thin solid #DEDCDD;
	background-color: white;	
	margin-left: auto;
	margin-right: auto;
}

#right-side {
	display: table-cell;
	width:	20%;
	top: 0;
	right: 0;
    height: 900px;
	background-color: #DEDCDD;	
	float: right;
	text-align: center;
}

#right-side p {
	display: block;
	font-size: 18px;
	margin: 10px;
	line-height: 25px;
}

#right-side img {
	margin: 20px;
}

#right-side button {
	background:#25A6E1;
	background:-moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	padding:4px 8px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:14px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9
}

#content {
	width: 95%;
	padding: 20px;
}

#left-side {
	display: table-cell;
	width: 80%;
	float: left;
}

#main-search {
	padding: 10px 100px 10px;
	margin-left: auto;
	margin-right: auto;
}

input.main-search {
	display: inline-block;
	padding: 5px;
	border: 2px solid #F1B720;
	border-radius: 1px;
	color: #333;
	height: 20px;
	margin: 10px;
}

button.main-search {
	padding: 10px;
  	background: #08B;
  	border: 3px solid #5CC9ED;
  	border-radius: 4px;
  	margin: 10px;

  	/* Font styles */
  	color: white;
  	text-decoration: none;
}

a.main-search {
	position: absolute;
	margin-left: 500px;
}

.main-search table {
	margin-left: 50px;
}

.disabled {
	background-color: #DEDEDE;
	border: thin solid black;
	padding: 5px;
	width: 150px;
	opactiy: 0.5;
}

.enabled {
	border: 2px solid #F1B720;
	padding: 5px;
	width: 150px;
}

.advanced-search {
	margin: 5px;
	width: 100px;
}

.result{
	border-bottom: thin black dashed;
	padding: 20px;
	width: 80%;
	height: 50px;
	margin-left: 5%;
}

.treeinfo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 900px;	
}

.map {
	float: left;
	margin-left: 5%;
}

.treedata {
	float: right;
	margin-right: 5%;
	padding: 20px;
}

.info-field {
	font-weight: bold;
}

.info-value {
		
}

.add-popup {
	z-index: 99999;
	background-color: white;
	border: thin solid black;
	border-radius: 3px;
	padding: 20px;
	font-size: 15px;
}

.add-popup input{
	border: thin black solid;
	width: 100%;
	height: 20px;
}

.add-popup input:focus {
	background-color: #F0FAF5;
}

