body {
	position: 	absolute;
	height:		100%;
	width:		100%;
	margin: 	0px 0px 0px 0px;
	background-color: #dbeadc;
	font-family:'Helvetica Neue',sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* BAR AT THE TOP OF THE PAGE */

#top {
	display: block;
	position: relative;
	top: 0;
	height: 40px;
	background-color: black;
	opacity: 0.7;
	padding-left: 10px;
	padding-right: 10px;
	
	text-align: right;
	color: white;
}

#top a {
	color: red;
	font-size: 14px;
	display: inline-block;
	margin: 10px;
}

#top button {
	float: left;
	height: 30px;
	border: 1px solid gainsboro;
	border-radius: 3px;
	background-color: cadetblue;
	color: blanchedalmond;
	margin: 5px;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
}

#top button:hover {
	color: black;
}

/* BANNER AND MAIN BUTTONS */

header{
	display: block;
	position: relative;
	margin-top: 2px;
	margin-left: none;
    margin-right: none;
    height:	220px;
    width:	100%;
	background-image: url('image/treespotterbanner.png'),url('image/leafbackground.png');
	background-position: center top, center top;
	background-repeat: no-repeat,repeat-x;
}

#button-bar {
	display: block;
	position: relative;
	width: 95%;
	margin: 0 auto 0 auto;
	border: 0px solid #DEDCDD;
	background-color: #DEDCDD;
}

.nav-button {
  padding: 10px;
  margin: 8px 9% 8px 9%;
  background: #08C;
  border: thin solid #08C;
  border-radius: 5px;
  width: 30%;
  opacity: 0.8;

  /* Font styles */
  color: white;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 8px;
}

.nav-button:hover {
	text-transform: uppercase;	
	opacity: 1;
}

/* MAIN CONTENT DIVS */

#main {
	display: table;
    width:	95%;
    min-width: 600px;
    max-height: 500px;
	border: thin solid #DEDCDD;
	background-color: white;	
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}

#content {
	min-height: 500px;
	padding: 20px 40px 0 40px;
}

/* MAIN SEARCH */

.main-search-box{
	margin: 20px auto 0 auto;
}

input.main-search {
	display: inline-block;
	width: 600px;
	padding: 5px;
	border: 2px solid #F1B720;
	border-radius: 1px;
	color: #333;
	height: 20px;
	margin: 10px;
}

button.main-search {
	padding: 10px;
  	background: #08B;
  	border: 3px solid #5CC9ED;
  	border-radius: 4px;
  	margin: 10px;

  	/* Font styles */
  	color: white;
  	text-decoration: none;
}

button.main-search:hover {
	color: orange;
}

button.main-search:active {
	background-color: rgb(20, 71, 105);
	border-color: rgb(20, 71, 105);
}

/* ADVANCED SEARCH OPTIONS */
a.main-search {
	margin-left: 800px;
	font-size: 13.5px;
	color: darkblue;
}

a.main-search:hover {
	color: orangered;
	text-decoration: none;
}

.advanced-search-panel {
	margin: 5px;
	width: 150px;
}

.main-search-fields {
	margin-left: 280px;
}

.main-search table {
	margin-left: 50px;
}

/* styles for enabled/disabled advanced search fields */
.disabled {
	background-color: #DEDEDE;
	border: thin solid black;
	padding: 5px;
	width: 250px;
	opactiy: 0.5;
}

.enabled {
	border: 2px solid #F1B720;
	padding: 5px;
	width: 250px;
}

/* SUGGEST BOX */
.gwt-SuggestBoxPopup { 
	border: thin gray solid;
	background-color: white;
}

.gwt-SuggestBoxPopup .item-selected { 
	background-color:	lightblue;
}

/* TREE INFO PAGE */

.tree-info-map {
	float: left;
	margin-left: 5%;
}

.tree-info-table {
	padding: 20px;
}

.tree-info-field {
	font-weight: bold;
	height: 20px;
}

.flagged {
	opacity: 1;
}

.unflagged {
	opacity: 0.4;
}

.gwt-RichTextArea {
	width: 800px;
	border: thin solid grey;
	margin-top: 10px;	
}


/* ADD TREE POPUP */

.add-popup {
	z-index: 99999;
	background-color: white;
	border: thin solid black;
	border-radius: 3px;
	padding: 20px;
	font-size: 15px;
}

.add-popup input{
	border: thin black solid;
	width: 100%;
	height: 20px;
}

.add-popup input:focus {
	background-color: #F0FAF5;
}

/* SEARCH RESULTS */

.results-map {
	float: left;
	margin: 30px 5px;
}

/* unselected tab items */
.gwt-TabBarItem {
	width: 20px;
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

/* selected tab items */
.gwt-TabBarItem.gwt-TabBarItem-selected {
	color: black;
	text-decoration: none;
}

.results-table {
	text-align: center;
	margin-top: 10px;
}

.results-table tr{
	height: 35px;
}

.results-header {
	background-color: #A8DEE1;
	font-weight: bold;
	height: 15px;
}

.results-row-alt {
	background-color: #EEEEEE;	
}

/* COMMENTS */
.comments-panel {
	width: 100%;	
}

.comment {
	min-width:500px; 
	padding: 10px; 
	border-left: 3px solid green; 
	margin: 10px 50px;
}

.comment:hover {
	background-color: #F0F4FA;
}


/* TOOLTIP */

.tooltip {
	padding: 10px;
	background-color: 	#CDD7B6;
	opacity: 0.95;
	border-radius: 4px;
	box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
	max-width: 400px;
	z-index: 1;
	font-size: 14px;
}

/* FLAG POPUP */
.flag-popup {
	background-color: white;
	padding: 20px 20px 10px;
	border: thick solid black;
	z-index: 100;
}

.flag-popup textarea {
	display: block;
	width: 250px;
	height: 70px;
}

.flag-popup button {
	margin-top:	5px;
	margin-right: 20px;
}